.venv/pyvenv.cfg
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/activate.fish
.venv/bin/easy_install
.venv/bin/easy_install-3.7
.venv/bin/epylint
.venv/bin/f2py
.venv/bin/f2py3
.venv/bin/f2py3.7
.venv/bin/isort
.venv/bin/pip
.venv/bin/pip3
.venv/bin/pip3.7
.venv/bin/pylint
.venv/bin/pyreverse
.venv/bin/python
.venv/bin/python3
.venv/bin/symilar
